boto3
cython
h5py
imgaug
keras==2.3.1
matplotlib
mercantile==1.1.2
numpy
opencv-python
pillow
pyproj
rasterio
scikit-image
scipy
tensorflow==1.13.1
IPython[all]
git+https://github.com/matterport/Mask_RCNN.git
